!!! 5
%html
  %head
    %title Trepang!
    %script{:type => 'text/javascript', :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/js/trepang.js'}
  %body
    %h1 Trepang!
    %p Running in #{pwd}

    %ul
      - features.keys.sort.each do |key|
        %li
          %a{:href => "features/#{key}"}= features[key]

    %button.run Run

    %pre#results
