!!! 5
%html
  %head
    %title Trepang!
  %body
    %h1 Trepang!
    %p Running in #{pwd}

    %ul
      - features.keys.sort.each do |key|
        %li
          %a{:href => "features/#{key}"}= features[key]
